<div class="container">
<h2>ペット健康管理アプリ</h2>
<img src="https://www.saikane.com/wp-content/uploads/2020/01/pet.jpg" style="width:40%;">
<% if logged_in? %>
<% else %>
  <h2>~<%= link_to "新規登録はこちら", signup_path, class: "btn btn-lg btn-primary", :style=>"color:black;" %>~</h2>
<% end %>
</div>