header{
    display: flex;
    background-color: black;
    justify-content: center;
}

.container{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.like{
color: red;
}

.form{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 450px;
}

.my-pet{
    display: flex;
    justify-content: center;
}

.pet-form{
    width: 50%;
    height: 5000px;
    background-color: aliceblue;
}


.select-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

.pet-detail{
    width: 50%;
    margin: 0 auto;
    background-color: rgb(238, 244, 225);
}


p{
    margin: 15px;
}

li{
    list-style: none;
}

